[user]
	name = xiongdajun
	email = iwanderuu@gmail.com
[push]
	default = current
	autoSetupRemote = true
[credential]
	helper = store
[core]
	excludesFile = ~/.gitignore_global
[pull]
  rebase = true
