""" Settings  --------------------------------
let mapleader=" "
set hlsearch
set wrap
set incsearch
set number
set noshowmode
set ttimeoutlen=0
set notimeout
set clipboard=unnamed
set clipboard+=ideaput
set ignorecase smartcase
set scrolloff=8
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Plugins  --------------------------------
set surround
set commentary
set argtextobj
set textobj-entire
let g:argtextobj_pairs="[:],(:),<:>"
map s <Action>(flash.search)

""" Mappings --------------------------------
" base
nnoremap Y y$
nmap K <Action>(ShowHoverInfo)
nmap <S-l> :bnext<CR>
nmap <S-h> :bprevious<CR>
nmap gl <Action>(ShowErrorDescription)
nmap gI <Action>(GotoImplementation)
nmap gD <Action>(GotoSuperMethod)
nmap gr <Action>(FindUsages)
nmap <ESC><ESC> :nohlsearch<cr>
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k

" navigation
nmap [f <Action>(MethodUp)
nmap ]f <Action>(MethodDown)
nmap [e <Action>(GotoPreviousError)
nmap ]e <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
nmap [h <Action>(VcsShowPrevChangeMarker)
nmap ]h <Action>(VcsShowNextChangeMarker)

" code
nmap <leader>ch <Action>(SwitchHeaderSource)
nnoremap <leader>cr :action RenameElement<CR>
nnoremap <leader>cf :action ReformatCode<CR>
nnoremap <leader>cg :action Generate<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>cc :action GotoClass<CR>
nnoremap <leader>co :action FileStructurePopup<CR>

" Debug
nnoremap <leader>ds :action Debug<cr>
nnoremap <leader>di :action SmartStepInto<CR>
nnoremap <leader>dv :action ViewBreakpoints<CR>
nnoremap <leader>dt :action ToggleLineBreakpoint<CR>
nnoremap <leader>do :action StepOver<CR>

" Search && Replace
nnoremap <leader>P :action ManageRecentProjects<CR>
nmap <leader>ss <Action>(FileStructurePopup)
nnoremap <leader>sS :action GotoSymbol<CR>
nnoremap <leader>sf <ESC>:action GotoFile<CR>
nnoremap <leader><leader> <ESC>:action GotoFile<CR>
nnoremap <leader>st :action FindInPath<CR>
nnoremap <leader>sc :action GotoAction<cr>
nnoremap <leader>rf :action ReplaceInPath<CR>
nmap <leader>/ <Action>(TextSearchAction)

" git
nnoremap <c-g> :action Git.Menu<cr>
vnoremap <c-g> :action Git.Menu<cr>
nmap <leader>gf <Action>(Vcs.ShowTabbedFileHistory)
nmap <leader>ghr <Action>(Vcs.RollbackChangedLines)

" Build & Run
" FIXME: don't effect 
" nmap <leader>rb <Action>(RedesignedRunConfigurationSelector)
nmap <leader>rb <Action>(CidrBuildRunToolbar)
nmap <leader>rr <Action>(Run)
